<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Application</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Trang chủ</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/nhanvien">Danh sách nhân viên</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <div th:fragment="bodyFragment">
        <!-- Thay thế fragment content bằng nội dung từ index.html -->
        <div th:replace="${content}"></div>
    </div>
</div>

<!-- Bootstrap JS and dependencies (optional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-Mk1Gd5ZTwM7FV/wDXr0qk8vxp6/ZI3bF0JpysUhpD7tkxhZ/r4GL5FL5MCI7BOwV"
        crossorigin="anonymous"></script>
</body>
</html>
